body{
    margin: 0;
}
*::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
*::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent);
}
*::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    background: rgba(0,0,0,.4);
    border-radius: 10px;
}
*::-webkit-scrollbar-corner{
    display: none;
}
